# For truffle project.
build/*
node_modules/*
installed_contracts/*
secrets.json
*.swp
coverage/
coverage.json

# For leiningen project.
/target
/logs
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.dir-locals.el

/*.log
/*-init.clj
/resources/public/js/compiled
/resources/public/contracts
out
.rebel_readline_history